<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
      	<title></title>

    <script type="text/javascript">

    mapStyling = [{"featureType":"administrative","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"visibility":"simplified"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"simplified"}]},{"featureType":"water","stylers":[{"visibility":"simplified"}]},{"featureType":"transit","stylers":[{"visibility":"simplified"}]},{"featureType":"landscape","stylers":[{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"visibility":"off"}]},{"featureType":"road.local","stylers":[{"visibility":"on"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"visibility":"on"}]},{"featureType":"water","stylers":[{"color":"#84afa3"},{"lightness":52}]},{"stylers":[{"saturation":-17},{"gamma":0.36}]},{"featureType":"transit.line","elementType":"geometry","stylers":[{"color":"#3f518c"}]}];


    var geocoder;
    var businessMap;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(33.9661016, -118.2419219);
      var mapOptions = {
        zoom: 10,
        center: latlng,
        styles: mapStyling
      }
      businessMap = new google.maps.Map(document.getElementById("businessMap"), mapOptions);
    }

    function codeAddress() {
      var address = document.getElementById("address").value;
      geocoder.geocode( { 'address': address}, function(results, status) {
        if (status == google.maps.GeocoderStatus.OK) {
          businessMap.setCenter(results[0].geometry.location);
          businessMap.setZoom(15);
          document.getElementById('lat').value = results[0].geometry.location.k;
          document.getElementById('lng').value = results[0].geometry.location.B;
          var marker = new google.maps.Marker({
              map: businessMap,
              position: results[0].geometry.location
          });
        } else {
          alert("Geocode was not successful for the following reason: " + status);
        }
      });
    }



</script>

</head>


<body onload="initialize">


<div id="newBizEncasing">

  <p id="newBizHeading">Please submit your business info below to begin launching promotions!</p>


  <div id="businessMap"></div>   <br><br>


  <form action="#" onsubmit="codeAddress()">
  
<div class="row">
<div class="small-12 columns">
	<input type="text" size="60" id="address" placeholder="Enter address and hit search to confirm location on map" />
	<input id="newBizInput" type="submit" value="Search"/>
</div>
</div>

<br><br>

  </form>

<div class="row">
<div class="small-12 columns">
  <%= form_for @business do |f| %>
    <%= f.text_field :name, :placeholder => "Enter the name of business as it appears on your business license" %>
    <%= f.text_field :location, :placeholder => "Enter address as you'd prefer it to appear to users" %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :latitude, :id => "lat" %>
    <%= f.hidden_field :longitude, :id => "lng" %>
    <label for="checkbox1"><input type="checkbox" id="checkbox1"><span class="custom checkbox"></span> I agree to the <span id="TOS">Terms of Service</span></label>

    <%= f.submit "Submit", :id => "newBizSubmit" %>
  <% end %>
</div>
</div>


</div>


</body>

</html>
