<div class="row">
<% if current_user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
	YOU ARE A BUSINESS OWNER! HOORAY
<%= link_to "Add a Deal", deal_new_path(current_user.business_id) %>

<ul>
<% Deal.where(business_id: current_user.business_id).each do |d| %>

    <li class="large-3 small-6 columns left" id="deals">
    	<div class=<%= d.end_date <= Date.today ? 'deals-container blue' : 'deals-container2 red' %>>
			<div class=<%= d.end_date <= Date.today ? 'blue' : 'red' %>><%= d.name %></div>
			<div id="deal-description"><%= d.description %></div>
			<div id="deal-code"><%= d.code %></div>
			Fine Print:
			<div id="deal-fine"><%= d.fine %></div>
			<div id="deal-start-date"><%= d.start_date %></div>
			<div id="deal-end-date"><%= d.end_date %></div>
			<%= link_to "Delete this Deal", deal_delete_path(d.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    	</div>
    </li>
  <% end %>
</ul>

<% else %>
	<p> Sorry, you must be a business owner in order to view this page. Click here to change your user settings.</p>
<% end %>

</div>
