<div class="row">
<% if current_user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
<h1 class="deal-index">Deals Management Dashboard</h1>
<ul>
<% Deal.where(business_id: current_user.business_id).each do |d| %>

    <li class="large-3 small-6 columns left" id="deals">
    	<div class=<%= d.end_date >= Date.today ? 'deals-container blue' : 'deals-container2 red' %>>

			<div>
				<p class="biz-deal-index-item">Title</p>
				<%= d.name %>
			</div>

			<div id="deal-description">
				<p class="biz-deal-index-item">Description</p> <%= d.description %>
			</div>

			<div id="deal-code">
				<p class="biz-deal-index-item">Code</p> <%= d.code %>
			</div>
	
			<div id="deal-fine">
				<p class="biz-deal-index-item">Fine Print</p> <%= d.fine %>
			</div>

			<div id="deal-start-date">
				<p class="biz-deal-index-item">Start Date</p> <%= d.start_date %>
			</div>

			<div id="deal-end-date">
				<p class="biz-deal-index-item">End Date</p> <%= d.end_date %>
			</div>

			<%= link_to "Delete this Deal", deal_delete_path(d.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    	</div>
    </li>
  <% end %>
</ul>

<% else %>
	<p> Sorry, you must be a business owner in order to view this page. Click here to change your user settings.</p>
<% end %>

</div>
