<div class="row">
<% if current_user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
	YOU ARE A BUSINESS OWNER! HOORAY
<%= link_to "Add a Deal", deal_new_path(current_user.business_id) %>

<ul>
<% Deal.where(business_id: current_user.business_id).each do |d| %>
    <li class="large-3 small-6 columns left" id="deals">
    	<div class="deals-container">
			<div id="deal-name"><%= d.name %></div>
			Description:
			<div id="deal-description"><%= d.description %>
			<div id="deal-code"><%= d.code %>
			Fine Print:
			<div id="deal-fine"><%= d.fine %>
			<div id="deal-start-date"><%= d.start_date %>
			<div id="deal-end-date"><%= d.end_date %>
			<div id="deal-start-time"><%= d.start_time %>
			<div id="deal-end-time"><%= d.end_time %>
    	</div>
    </li>
  <% end %>
</ul>

<% else %>
	<p> Sorry, you must be a business owner in order to view this page. Click here to change your user settings.</p>
<% end %>

</div>
