<% if current_user.business_owner == true %>
	<%= render 'layouts/businessnav' %>

<p id="deal-list-heading"><%= Business.find_by_id(current_user.business_id).name %></p>
<p id="deal-list-address"><%= Business.find_by_id(current_user.business_id).location %></p><br/>
	
<% Deal.where(business_id: current_user.business_id).each do |d| %>
<div class="row" id="eachDealListed">
	<div class="small-8 columns deal-info-contain">
		<span class="dealTitle"><%= d.name %></span><br/><br/>
		<%= d.description %><br><br>
		<%= d.code %><br><br>
		<%= d.fine %><br><br>
    <span class="dealStartEnd">Start Date/Time: </span><%= d.start_datetime %><br>
    <span class="dealStartEnd">End Date/Time: </span><%= d.end_datetime %><br><br>
<!-- 		<%= d.start_date %><br><br>
		<%= d.end_date %><br><br/> -->
    <% if d.end_date <= Date.today %>
      <p id="expired">THIS DEAL HAS EXPIRED</p>
    <% end %>
    <% if d.end_date >= Date.today %>
      <p id="active-deal">DAYS TILL DEAL EXPIRATION: <%= (d.end_date - Date.today).to_i %></p>
    <% end %>
		<em><%= link_to "Delete this Deal", deal_delete_path(d.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "delete-deal-link" %></em>
  		<br><br>
			<div id="main">
			  <div id="outer-circle">
			    <div id="inner-circle">
			      <div id="center-circle">
			        <div id="content">    
              </div>
			      </div>
			    </div>
			  </div>
			</div>
  </div><br><br><br>
</div>

<% end %>


<% else %>
	<p> Sorry, you must be a business owner in order to view this page. Click here to change your user settings.</p>
<% end %>




<style type="text/css">
	

  html { 
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased; }

  body {
  	background: white; }

  a {
    color:#fff;
    text-decoration:none;
  }
  a:hover {
    color:#FF5E99;
  }
  a:link { -webkit-tap-highlight-color: #FF5E99; } 

  #main {
  	width: 85px;
  	height: 60px;
  	margin: auto; }

  #outer-circle {
  	-webkit-box-shadow: 0 0 50px 10px #453D9B;
  	-moz-box-shadow: 0 0 50px 10px #453D9B;
  	box-shadow: 0 0 50px 10px #453D9B;
  	border: 10px solid #0082aa;
  	border-top-color:#a1a1a1;
  	margin: 20% auto;
  	text-align:center;
  	background: -webkit-linear-gradient(top, #ffffff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
  	background: -moz-linear-gradient(top, #ffffff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
  	background: linear-gradient(to bottom, #ffffff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
  	width: 80px;
  	height: 80px;
	
  	-webkit-border-radius: 80px;
  	-moz-border-radius: 80px;
  	border-radius: 80px;
	
  	-webkit-animation:turning_cw 5s infinite;
  	-moz-animation:turning_cw 5s infinite;
  	animation:turning_cw 5s infinite;
  	position:relative;
  	opacity: 0.7; }
  	
  #outer-circle:hover {
  	-webkit-box-shadow: 0 0 100px 15px #453D9B;
  	-moz-box-shadow: 0 0 100px 15px #453D9B;
  	box-shadow: 0 0 100px 15px #453D9B; }
  	
  #inner-circle {
  	border: 10px solid #0082aa;
  	border-left-color:#a1a1a1;
  	border-right-color:#a1a1a1;
	
  	-webkit-transform: rotate(360deg);
  	-moz-transform: rotate(360deg);
  	transform: rotate(360deg);
	
  	position:absolute;
	
  	background: -webkit-linear-gradient(top, #0082aa 48%, #a1a1a1 49%, #a1a1a1 51%, #0082aa 52%);
  	background: -moz-linear-gradient(top, #0082aa 48%, #a1a1a1 49%, #a1a1a1 51%, #0082aa 52%);
  	background: linear-gradient(to bottom, #0082aa 48%, #a1a1a1 49%, #a1a1a1 51%, #0082aa 52%);
	
  	margin: 10px;
  	width: 60px;
  	height: 60px;
	
  	-webkit-border-radius: 60px;
  	-moz-border-radius: 60px;
  	border-radius: 60px;
	
  	-webkit-animation:turning_acw 3s infinite;
  	-moz-animation:turning_acw 3s infinite;
  	animation:turning_acw 3s infinite; }

  #center-circle {
  	border: 10px solid #a1a1a1;
  	border-bottom-color:#0082aa;
  	-webkit-transform: rotate(360deg); 
  	-moz-transform: rotate(360deg); 
  	transform: rotate(360deg); 
  	position:absolute;

  	background: -webkit-linear-gradient(top, #fff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
  	background: -moz-linear-gradient(top, #fff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
  	background: linear-gradient(to bottom, #fff 48%, #0082aa 49%, #0082aa 51%, #fff 52%);
	
  	margin: 10px;
  	width: 40px;
  	height: 40px;
	
  	-webkit-border-radius: 40px;
  	-moz-border-radius: 40px;
  	border-radius: 40px;
	
  	-webkit-animation:turning_cw 5s infinite;
  	-moz-animation:turning_cw 5s infinite;
  	animation:turning_cw 5s infinite; }

  #content {
  	position:absolute;
  	top: 10px;
  	left: 10px;
  	width: 12px;
  	height: 12px;
  	-webkit-border-radius: 140px;
  	-moz-border-radius: 140px;
  	border-radius: 140px;
  	background: #2E2A69; 
  	text-align:center;
  	line-height: 120px;
  	font-size: 30px;
  	color:#a1a1a1;
  	text-shadow: 0 2px 2px #000;
  	font-weight:bold; }

  @-webkit-keyframes aura {
  	0%{
  		text-shadow: 0 2px 2px #000; }
  		
  	50%{
  		text-shadow: 0 10px 10px #000;
  		line-height: 190px; }
  		
  	100%{
  		text-shadow: 0 2px 10px #000; }
  }

  @-webkit-keyframes turning_cw {
  	0%{
  		-webkit-transform: rotate(0deg); }
  	100%{
  		-webkit-transform: rotate(360deg); }
  }
  
  @-webkit-keyframes turning_acw {
  	0%{
  		-webkit-transform: rotate(360deg); }
  	100%{
  		-webkit-transform: rotate(0deg); }
  }

  @-moz-keyframes aura {
  	0%{
  		text-shadow: 0 2px 2px #000; }
  		
  	50%{
  		text-shadow: 0 10px 10px #000;
  		line-height: 190px; }
  		
  	100%{
  		text-shadow: 0 2px 10px #000; }
  }

  @-moz-keyframes turning_cw {
  	0%{
  		-moz-transform: rotate(0deg); }
  	100%{
  		-moz-transform: rotate(360deg); }
  }
  
  @-moz-keyframes turning_acw {
  	0%{
  		-moz-transform: rotate(360deg); }
  	100%{
  		-moz-transform: rotate(0deg); }
  }

  @keyframes aura {
  	0%{
  		text-shadow: 0 2px 2px #000; }
  		
  	50%{
  		text-shadow: 0 10px 10px #000;
  		line-height: 190px; }
  		
  	100%{
  		text-shadow: 0 2px 10px #000; }
  }

  @keyframes turning_cw {
  	0%{
  		transform: rotate(0deg); }
  	100%{
  		transform: rotate(360deg); }
  }
  
  @keyframes turning_acw {
  	0%{
  		transform: rotate(360deg); }
  	100%{
  		transform: rotate(0deg); }
  }


</style>