<style type="text/css">
#centerSubmitButton {
	text-align: center;
}
button {
	font-family: 'heroregular' !important;
	background-color: #000;
}
</style>



<!-- HTML BODY BEGINS HERE -->
<% if @user.business_owner == false %>
	<%= render 'layouts/customernav' %>
<% end %>

<% if @user.business_owner == true %>
	<%= render 'layouts/businessnav' %>
<% end %>


<div>
	
<p id="dealmapTitle">DEAL DISCOVERY DEVICE</p>
<p id="click-button-below">Click the button below to begin receiving local deal alerts!</p><br>

<div id="inputLatLng">
<input id="locationButton" type="button" value="Find Deals Near Me!" onclick="showCurrentlocation()"/>
</div>

<div id="hiddenLatLng" style="display:none;">
Current Latitude: <span id="latitude"></span> <br>
Current Longitude: <span id="longitude"></span> <br>
</div>

<div id="centered">
<audio id="audio" src="http://www.freesound.org/data/previews/133/133054_1148376-lq.mp3"></audio>
<h3 id="countdownn" style="display:none">12</h3>

<div id="myModal" class="reveal-modal small" data-reveal>
  <p class="dealVicinity">DEAL UNLOCKED IN THE VICINITY!</p>
  <p class="dealInfo" class="lead" id="deets1">Business Name</p>
  <p class="dealInfo" id="deets2">Deal Description</p>
  <p class="dealInfo" id="deets3">Deal Code</p>
  <p class="dealInfo" id="deets4">Fine Print</p>
  <p class="dealInfo" id="deets5">Expires:</p>
  <p class="dealInfo" id="deets6">UTC End Datetime:</p><br/>
  <div id="centerSubmitButton"><button id="first" class="btn btn-link">SAVE THIS DEAL</button></div>
  <p id="saveToUser"></p>
  <p style="display:none" id="countdown">Deal Expiration Countdown</p>
  <a class="close-reveal-modal">&#215;</a>
</div>
</div>



<div id="map">Map!</div>

<br><br><br>


</div>


	<%= form_for(:list, url: lists_path, method: :post) do |l| %>
	  	<%= l.hidden_field :deal_name, :id => 'dealName' %>
	  	<%= l.hidden_field :deal_description, :id => 'dealDescription' %>
	  	<%= l.hidden_field :deal_code, :id => 'dealCode' %>
	  	<%= l.hidden_field :deal_fine, :id => 'dealFine' %>
	  	<%= l.hidden_field :deal_date, :id => 'dealDate' %>
	  	<%= l.hidden_field :deal_time, :id => 'dealTime' %>
	  	<%= l.hidden_field :deal_end_datetime, :id => 'dealDateTime' %>
	  	<%= l.hidden_field :user_id, value: current_user.id %>
	  	<div id="saveList">
	  	<%= l.submit "Save This Deal", :id => 'second', :style => "display:none;" %>
	  	</div>
	<% end %>


	<div id="your-deals">YOUR SAVED DEALS</div><br><br>

	<% @userlist.each do |ud| %>
		<div class="user-list">
			<p id="saved-deal-name"><%= ud.deal_name %></p>
			<p id="saved-deal-description"><%= ud.deal_description %></p>
			<p id="peethree"><%= ud.deal_code %></p>
			<p id="peefour"><%= ud.deal_fine %></p>
			<p id="nil"><%= ud.deal_date %></p>
			<% if Time.parse(ud.deal_date).utc <= Date.today %>
      		<p id="peefive">THIS DEAL HAS EXPIRED</p>
    		<% end %>
    		<% if Time.parse(ud.deal_date).utc >= Date.today %>
      		<p id="peesix">Expires in: <%= ((Date.parse(ud.deal_date) - Date.today)/1).to_i %> days</p>
    		<% end %>
			<p id="peeseven"><%= ud.deal_end_datetime %></p>
			<%= link_to "Nix This Deal", list_path(ud.id), method: :delete %>
		</div>
	<% end %>

<script type="text/javascript">
$("#first").click(function(){
    $("#second").click(); 
    return false;
});
</script>

