<div class= "sessions-new">

  <header class="sessions-header">
    <h1>GeoDeals</h1>
    <h2>TBD.</h2>
  </header>

  <main class="sessions-new-container">
    <h2>Find deals based on your proximity to businesses!</h2>
    <h3>Sign up and start exploring.<h3>
    <div class="sign-in">
        <%= form_for(:session, url: sessions_new_path) do |s| %>
        <%= s.text_field :email, :class => 'new-session-forms', :placeholder => 'Email' %>
        <%= s.password_field :password, :class => 'new-session-forms',:placeholder => 'Password' %>
        <%= s.submit :class => 'button expand', :value => 'Sign In' %>
        <div class="sign-up-link-button">New to GeoDeals?<%= link_to "Sign Up!", users_new_path, class: "sign-in-link-button" %>
        </div>
    </div>
        <% end %>
  </main>

</div>