<div class= "sessions-new">
  <header class="sessions-header" id="geo-top">
    <div class="overlay-container">
      <div class="header-content">
        <h1 id="home-title">GeoDeals</h1>
      </div>
    </div>
  </header>

  <%= form_for(:session, url: sessions_new_path) do |s| %>
  
    <div class="row fields">
      <div class="large-5 columns outline-inward" id="email-field">
        <%= s.text_field :email, :placeholder => 'Email' %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns outline-inward" id="password-field">
        <%= s.password_field :password, :placeholder => 'Password' %>
      </div>
    </div>
    <%= s.submit :class => 'button radius signin-fields', :value => 'Sign In' %></br>
  
  <div class="sign-up-link-button">New to GeoDeals?</br><%= link_to "Sign Up!", users_new_path %>
  </div>

  <% end %>

  <h6>Click to learn more.</h6>
  <section class="btn-main">
  <a class="arrow-wrap" href="#info-container">
    <span class="arrow"></span>
  </a>
  </section>

  <div class="home-sections-1"></div>
  <div class="home-sections-2"></div>

  <div class="geo-hook">
    <p>Geodeals is a simple advertising geolocation platform for small businesses. Create new deals on the fly and manage it from your dashboard.</p>
    <p>Geodeals is also an easy-to-use mobile app for anyone to discover deals in their immediate location.</p>
  </div>  
</div>

<section id="info-container">
  <h1>What is GeoDeals?</h1>
  <div class="parallax" data-velocity="-.3">
    <div id="what-container">
      <h1>Geodeals is an app that captures your current location and whenever you are within the radius of a business that has a special deal going on, the code to redeem that deal will pop up.</h1>
    </div>
  </div>
  <section class"btn-main">
    <a class="arrow-wrap" href="#who-anchor">
      <span class="arrow"></span>
    </a>
  </section>  
</section>

<div class="test-container" id="who-anchor">
  <h1>How to get started.</h1>
  <div class="parallax" data-velocity="-.3">
    <div id="who-container">
      <h1>This app is compatible across all mobile browsers. That means you don't have to download anything. Just create a new account, pull up our website on your phone, and start discovering deals!</h1>
      <p><a href="#geo-top">Back to the top</a></p>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      $target = $(target);

      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'swing');
  });
});
</script>