<div class= "sessions-new">
  <header class="sessions-header" id="geo-top">
    <div class="overlay-container">
      <div class="header-content">
        <h1 id="home-title">GeoDeals</h1>
      </div>
    </div>
  </header>

  <%= form_for(:session, url: sessions_new_path) do |s| %>
  
    <div class="row fields">
      <div class="large-5 columns outline-inward" id="email-field">
        <%= s.text_field :email, :placeholder => 'Email' %>
      </div>
    </div>
    <div class="row">
      <div class="large-5 columns outline-inward" id="password-field">
        <%= s.password_field :password, :placeholder => 'Password' %>
      </div>
    </div>
    <%= s.submit :class => 'button radius signin-fields', :value => 'Sign In', :style => 'font-family:Heroregular' %></br>
  
  <div class="sign-up-link-button">New to GeoDeals?</br><%= link_to "Sign Up!", users_new_path %>
  </div>

  <% end %>

  <h6>Click to learn more.</h6>
  <section class="btn-main">
  <a class="arrow-wrap" href="#info-container">
    <span class="arrow"></span>
  </a>
  </section>

  <div class="home-sections-1"></div>
  <div class="home-sections-2"></div>

  <div class="geo-hook">
    <p>Geodeals is a simple advertising geolocation platform for small businesses. Create new deals on the fly and manage them from your dashboard.</p>
    <p>Geodeals is also an easy-to-use mobile app to discover deals in your immediate location.</p>
  </div>  
</div>

<section id="info-container">
  <div>
    <div id="what-container">
      <h1>Consumers</h1>
      <p>Geodeals was designed with ease-of-use in mind! Just sign-up, launch this app on your phone's browser, and start discovering deals.</p> 
      <p>Geodeals will grab your current location, and when you walk past a business offering a deal, details will automatically populate on your phone!</p>
    </div>
  </div>
  <section class"btn-main">
    <a class="arrow-wrap" href="#who-anchor">
      <span class="arrow"></span>
    </a>
  </section>  
</section>

<div class="test-container" id="who-anchor">
  <div>
    <div id="who-container">
      <h1>Businesses</h1>
      <p>We know growing your business can be difficult. So we made a platform to easily create and manage your deals.</p>
      <p>Unlike other daily deal sites, customers have to be within a certain radius of your business to redeem the deal code. That results in more foot traffic and exposure for your business.</p>
      <p></p>
      <p><a href="#geo-top">Back to the top</a></p>
    </div>
  </div>
</div>


<script>
  $(document).ready(function(){
  $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      $target = $(target);

      $('html, body').stop().animate({
          'scrollTop': $target.offset().top
      }, 900, 'swing');
  });
});
</script>