<h1 class="settings-header">Settings</h1>
<div class="hr border-line"><hr /></div>
<% if current_user.business_owner == true %>
<%= form_for @business, url: business_update_path(current_user.business_id) do |f| %>
<!-- BUSINESS -->
        <%= f.text_field :name %>
            <%= f.fields_for :user, url: update_user_path(@user) do |ff| %>
 <!-- USER -->
            <%= ff.check_box :business_owner, label: "Revert to Customer Status?" %>
      <div class="account-status-activation-note">Note: you can reactivate your business account at any time.</div>
            <%= ff.text_field :first_name, class: 'formsfor' %>
            <%= ff.text_field :last_name %>
            <%= ff.text_field :email %>
            <%= ff.password_field :password %>
<!-- DEALS -->
<span class="submit-button"><%= f.submit "Save" %></span>
<% end %>
<%= form_for :deal, url: deal_update_path(Deal.where(business_id: current_user.business_id), method: :patch) do |fff| %>
     <%= fff.collection_select "Edit a deal", Deal.where(business_id: current_user.business_id), :id, :name %>
     <%= fff.hidden_field :deal_id %>
     <%= fff.hidden_field :business_id %>
     <%= fff.text_field :name %>
<span class="submit-button"><%= fff.submit "Save" %></span>
        <%#= f.fields_for :deals, url: deal_update_path(@deals.id) do |fff| %><% end %>

        
        
        
   
      </div>
    <% end %>
    </div>
  <% end %>

   