<h1 class="settings-header">Settings</h1>
<div class="hr border-line"><hr /></div>

<% if current_user.business_owner == true %>
<%= form_for @business, url: business_update_path(current_user.business_id) do |f| %>
        <%= f.text_field :name %>
            <%= f.fields_for :user, url: update_user_path(@user) do |ff| %>
            <%= ff.check_box :business_owner, label: "Revert to Customer Status?" %>
            <div class="account-status-activation-note">Note: you can reactivate your business account at any time.</div>
            <%= ff.text_field :first_name, class: 'formsfor' %>
            <%= ff.text_field :last_name %>
            <%= ff.text_field :email %>
            <%= ff.password_field :password %>
                <% end %>
            <span class="submit-button"><%= f.submit "Save" %></span>



  </div>

     <% end %>
</div>
<% end %>
   