<body>
<h1>CREATE A NEW DEAL</h1>

<!-- This begins the section for the business to enter the details for their deal -->

<%= form_for(@deal, url: deal_new_path, method: :post) do |d| %>
	<ul class="example-orbit-content deal-container" data-orbit data-options="next_on_click: false; timer: false; next_on_tab: true;">
  		<li data-orbit-slide="headline-1">
    		<div>
				<div class="new-deal-fields">
				<h3>Name of the deal</h3>
				<p>This should be descriptive but short.</p>
				<p>Example: "Buy one get one"</p>
					<div class="large-4 columns" id="deal-field1"><%= d.text_field :name %></div>
				</div>
			</div>
  		</li>
  		<li data-orbit-slide="headline-2">
    		<div>
				<div class="new-deal-fields">
				<h3>Deal details</h3>
				<p>Provide details for the deal you are offering. Optimal length is a tweet! (140 characters).</p>
					<div class="large-4 columns" id="deal-field1"><%= d.text_area :description, size: "50x10" %></div>
				</div>
			</div>
  		</li>
  		<li data-orbit-slide="headline-3">
    		<div>
				<div class="new-deal-fields">
				<h3>Fine print</h3>
				<p>Provide the stipulations for this deal.</p>
					<div class="large-4 columns" id="deal-field2"><%= d.text_area :fine, size: "50x10" %></div>
				</div>
			</div>
		</li>
		<li data-orbit-slide="headline-4">
			<div>
				<div class="new-deal-fields">
				<h3>Start Date</h3>
				<p>Select the date this deal will start</p>
					<div class="large-4 columns" id="deal-field3"><%= d.date_select :start_date %></div>
				</div>
			</div>
		</li>
		<li data-orbit-slide="headline-5">
			<div>
				<div class="new-deal-fields">
				<h3>End Date</h3>
				<p>Select the date this deal will end</p>
					<div class="large-4 columns" id="deal-field4"><%= d.date_select :end_date %></div>
				</div>
			</div>
		</li>
	</ul>

			<div class="submit-deal-button">
			<%= d.submit "Submit" %>
			
	
<% end %>

<%= link_to "Go back", sessions_path %>
</div>
</body>


<style type="text/css">
	
body {
  font-family: heroregular !important;
  background-color: #bbb;

}

h1 {
  font-family: heroregular !important;
  text-align: center;
  margin-top: 40px !important; 
}


</style>
